params {
    // software or tools 
    fastp = "/mnt/gpfs/Users/lilei/software/miniconda3/bin/fastp"
    bwa = "/mnt/gpfs/Software/bwa"
    samtools = "/mnt/gpfs/Users/lilei/software/miniconda3/bin/samtools"
    python = "/mnt/gpfs/Users/lilei/software/miniconda3/bin/python"
    Rscript = "/mnt/gpfs/Users/lilei/software/miniconda3/bin/Rscript"
    fastqc = "/mnt/gpfs/Users/huyangzhirong/02.sofware/miniconda3/bin/fastqc"
    annovar = "/mnt/gpfs/Users/lilei/software/miniconda3/bin/Rscript"
    java = "/mnt/gpfs/Users/lilei/software/miniconda3/bin/java"
    picard = "/mnt/gpfs/Users/lilei/software/jar/picard.jar"
    sambamba = "/mnt/gpfs/Users/lilei/bin/sambamba"
    bamdst = "/mnt/gpfs/Users/lilei/bin/bamdst"
    //gatk = "/mnt/gpfs/Users/lilei/software/miniconda3/envs/tumor/share/gatk4-4.0.5.1-0/gatk-package-4.0.5.1-local.jar"
    gatk = "/mnt/gpfs/Users/lilei/software/miniconda3/envs/gatk4/share/gatk4-4.3.0.0-0/gatk-package-4.3.0.0-local.jar"
    singularity = "/usr/bin/singularity"
    cutadapt = "/mnt/gpfs/Users/lilei/software/miniconda3/bin/cutadapt"
    cutadapt_par = ''
    seqkit = "/mnt/gpfs/Users/lilei/software/miniconda3/bin/seqkit"
    fq = "/mnt/gpfs/Users/yangjinxurong/software/miniconda3/envs/rnaseq/bin/fq"
    STAR = "/mnt/gpfs/Users/yangjinxurong/software/miniconda3/envs/rnaseq/bin/STAR"
    salmon="/mnt/gpfs/Users/yangjinxurong/software/miniconda3/envs/rnaseq/bin/salmon"
    multiqc="/mnt/gpfs/Users/huyangzhirong/02.sofware/miniconda3/bin/multiqc"
    gffread="/mnt/gpfs/Users/huyangzhirong/02.sofware/miniconda3/bin/gffread"
    bam_stat="/mnt/gpfs/Users/yangjinxurong/software/miniconda3/envs/rnaseq/bin/bam_stat.py"
    deepvariant_sif = "/mnt/gpfs/Users/yangjinxurong/software/singularity/deepvariant_1.10.0.sif"

    // [新增] rnaseq 流程缺失的软件路径占位符
    stringtie      = "/mnt/gpfs/Users/yangjinxurong/software/miniconda3/envs/rnaseq/bin/stringtie" // 请填写 stringtie 绝对路径
    featureCounts  = "/mnt/gpfs/Users/huyangzhirong/02.sofware/subread-2.0.4-Linux-x86_64/bin/featureCounts" // 请填写 featureCounts (subread) 绝对路径
    bedtools       = "/mnt/gpfs/Users/huyangzhirong/02.sofware/miniconda3/bin/bedtools" // 请填写 bedtools 绝对路径
    bedClip        = "/mnt/gpfs/Users/yangjinxurong/software/miniconda3/envs/rnaseq/bin/bedClip" // 请填写 bedClip (UCSC) 绝对路径
    bedGraphToBigWig = "/mnt/gpfs/Users/yangjinxurong/software/miniconda3/envs/rnaseq/bin/bedGraphToBigWig" // 请填写 bedGraphToBigWig (UCSC) 绝对路径
    qualimap       = "/mnt/gpfs/Users/zhangsijia/software/miniconda3/bin/qualimap" // 请填写 qualimap 绝对路径
    trim_galore    = "/mnt/gpfs/Users/huyangzhirong/02.sofware/miniconda3/bin/trim_galore" // 请填写 trim_galore 脚本绝对路径
    gtf2bed        = "${projectDir}/bin/gtf2bed" // 默认使用项目 bin 目录下脚本

    // database
    annovar_database_hg19 = "/mnt/gpfs/Users/lilei/tools/annovar/humandb/"
    hg19 = "/mnt/gpfs/Users/lilei/database/human/hg19.fa"
    hg38 = "/mnt/gpfs/Users/lilei/database/hg38/hg38.fa"
    hg19_decoy = "/mnt/gpfs/Users/lilei/database/hg19_decoy/hs37d5.fa"
    dbsnp_38 = "/mnt/gpfs/Users/lilei/database/hg38/Homo_sapiens_assembly38.dbsnp138.vcf"
    dbsnp_19 = "/mnt/gpfs/Users/lilei/database/human/dbsnp_138.b37.vcf.gz"
    known_indel_38 = "/mnt/gpfs/Users/lilei/database/hg38/Homo_sapiens_assembly38.known_indels.vcf.gz"
    known_indel_19 = "/mnt/gpfs/Users/lilei/database/human/1000G_phase1.indels.b37.vcf.gz"
    standard_indel_38 = "/mnt/gpfs/Users/lilei/database/hg38/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz"
    standard_indel_19 = "/mnt/gpfs/Users/lilei/database/human/Mills_and_1000G_gold_standard.indels.b37.vcf.gz"
    high_conf_snp_38 = "/mnt/gpfs/Users/lilei/database/hg38/1000G_phase1.snps.high_confidence.hg38.vcf.gz"
    high_conf_snp_19 = "/mnt/gpfs/Users/lilei/database/human/1000G_phase1.snps.high_confidence.b37.vcf.gz"
    mt_reference_genome = "/mnt/gpfs/Users/lilei/project/WES/WES_pipeline/mtDNA/reference/NC_012920.fasta"
    hg38_vcf = "/mnt/gpfs/Dataset/04.project/Bioinfo/98.Inhouse_RD/13.FGRT/HighconfidenceVCF/HG001_GRCh38_1_22_v4.2.1_benchmark.vcf.gz"
    hg38_vcf_tbi = "/mnt/gpfs/Dataset/04.project/Bioinfo/98.Inhouse_RD/13.FGRT/HighconfidenceVCF/HG001_GRCh38_1_22_v4.2.1_benchmark.vcf.gz.tbi"
    hg38_vcf_bed = "/mnt/gpfs/Dataset/04.project/Bioinfo/98.Inhouse_RD/13.FGRT/HighconfidenceVCF/HG001_GRCh38_1_22_v4.2.1_benchmark.bed"
    hg38_cmrg_bed = "/mnt/gpfs/Users/lilei/pipeline/WGS/data/hg38.mrg_bench_gene.bed"
    hg38_sdf = "/mnt/gpfs/Users/huanghuichang/01.refData/human/hg38/hg38.sdf"
    hg19_vcf = "/mnt/gpfs/Users/fanlei/project/21.wgs_method_quality/01.database/20230821_element/vcf_result/HG001_GRCh37_1_22_v4.2.1_benchmark.vcf.gz"
    hg19_vcf_tbi = "/mnt/gpfs/Users/fanlei/project/21.wgs_method_quality/01.database/20230821_element/vcf_result/HG001_GRCh37_1_22_v4.2.1_benchmark.vcf.gz.tbi"
    hg19_vcf_bed = "/mnt/gpfs/Users/fanlei/project/21.wgs_method_quality/01.database/20230821_element/vcf_result/HG001_GRCh37_1_22_v4.2.1_benchmark.bed"
    hg19_cmrg_bed = "/mnt/gpfs/Users/lilei/pipeline/WGS/data/hg19.mrg_bench_gene.bed"
    hg19_sdf = "/mnt/gpfs/Users/huanghuichang/01.refData/human/hg19/hg19.sdf"
    //adapter file
    adapter_1 = "/mnt/gpfs/Users/lilei/pipeline/WGS/adapter_R1.fa"
    adapter_2 = "/mnt/gpfs/Users/lilei/pipeline/WGS/adapter_R2.fa"

    //bed file
    bed = "/mnt/gpfs/Users/lilei/pipeline/WGS/data/hg38.nonN.500bp.bed"
    hg38_omim_bed = "/mnt/gpfs/Users/lilei/database/omim/omim_exact_region_hg38.bed"
    hg19_omim_bed = "/mnt/gpfs/Users/lilei/database/omim/omim_exact_region_hg19.bed"
    hg19_decoy_omim_bed = "/mnt/gpfs/Users/lilei/database/omim/omim_exact_region_hg19_decoy.bed"

    // sample 
    standard = "NA12878"
    sample_refs {
        NA12878 {
            hg19 {
                vcf     = "/mnt/gpfs/Users/lilei/pipeline/WGS/database/benchmark/hg19/HG001_GRCh37_1_22_v4.2.1_benchmark.vcf.gz"
                vcf_tbi = "/mnt/gpfs/Users/lilei/pipeline/WGS/database/benchmark/hg19/HG001_GRCh37_1_22_v4.2.1_benchmark.vcf.gz.tbi"
                vcf_bed = "/mnt/gpfs/Users/lilei/pipeline/WGS/database/benchmark/hg19/HG001_GRCh37_1_22_v4.2.1_benchmark.bed"
            }
            hg38 {
                vcf     = "/mnt/gpfs/Users/lilei/pipeline/WGS/database/benchmark/hg38/HG001_GRCh38_1_22_v4.2.1_benchmark.vcf.gz"
                vcf_tbi = "/mnt/gpfs/Users/lilei/pipeline/WGS/database/benchmark/hg38/HG001_GRCh38_1_22_v4.2.1_benchmark.vcf.gz.tbi"
                vcf_bed = "/mnt/gpfs/Users/lilei/pipeline/WGS/database/benchmark/hg38/HG001_GRCh38_1_22_v4.2.1_benchmark.bed"
            }
        }
        NA24385 {
            hg19 {
                vcf     = "/mnt/gpfs/Users/lilei/pipeline/WGS/database/benchmark/hg19/HG002_GRCh37_1_22_v4.2.1_benchmark.vcf.gz"
                vcf_tbi = "/mnt/gpfs/Users/lilei/pipeline/WGS/database/benchmark/hg19/HG002_GRCh37_1_22_v4.2.1_benchmark.vcf.gz.tbi"
                vcf_bed = "/mnt/gpfs/Users/lilei/pipeline/WGS/database/benchmark/hg19/HG002_GRCh37_1_22_v4.2.1_benchmark_noinconsistent.bed"
            }
            hg38 {
                vcf     = "/mnt/gpfs/Users/lilei/pipeline/WGS/database/benchmark/hg38/HG002_GRCh38_1_22_v4.2.1_benchmark.vcf.gz"
                vcf_tbi = "/mnt/gpfs/Users/lilei/pipeline/WGS/database/benchmark/hg38/HG002_GRCh38_1_22_v4.2.1_benchmark.vcf.gz.tbi"
                vcf_bed = "/mnt/gpfs/Users/lilei/pipeline/WGS/database/benchmark/hg38/HG002_GRCh38_1_22_v4.2.1_benchmark_noinconsistent.bed"
            }
        }
    }

}


